[submodule "_beacons"]
	path = _beacons
	url = https://github.com/alektant/salt_beacons.git
[submodule "_engines"]
	path = _engines
	url = https://github.com/alektant/npi.git
[submodule "_utils"]
	path = _utils
	url = https://github.com/alektant/salt_utils.git
[submodule "_modules"]
	path = _modules
	url = https://github.com/alektant/salt_modules.git
