# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user {{ conf.user }};
worker_processes {{ conf.worker_processes }};
error_log {{ conf.error_log }};
pid {{ conf.pid }};

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include {{ conf.include }};

events {
    {{ conf.events }};
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ conf.http.access_log }};

    sendfile            {{ conf.http.sendfile }};
    tcp_nopush          {{ conf.http.tcp_nopush }};
    tcp_nodelay         {{ conf.http.tcp_nodelay }};
    keepalive_timeout   {{ conf.http.keepalive_timeout }};
    types_hash_max_size {{ conf.http.types_hash_max_size }};

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include {{ conf.include }};

    server {
        {%- for listen in conf.http.server.listen %}
        listen       {{ listen }};
        {%- endfor %}
        server_name  {{ conf.http.server.common_name }};
        root         {{ conf.http.server.root }};
        index        {{ conf.http.server.index }};

        # Load configuration files for the default server block.
        include {{ conf.http.server.include }};

        {%- for error, params in conf['http']['server']['error_page'].iteritems() %}
        error_page {{ error }} {{ params.page }};
            location = {{ params.location }} {
        }
        {%- endfor %}
    }
}
