{%- if nginx.tls.certbot is defined %}
listen {{ nginx.tls.certbot.listen }};
ssl_certificate {{ nginx.tls.certbot.fqdn }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ nginx.tls.certbot.fqdn }}/privkey.pem;
include /etc/letsencrypt/options-ssl-nginx.conf;
{%- else %}
listen {{ nginx.tls.self.listen }};
ssl_certificate {{ nginx.tls.self.cacert_path }}/{{ nginx.tls.self.tls_dir }}/certs/{{ minion_id }}.crt;
ssl_certificate_key {{ nginx.tls.self.cacert_path }}/{{ nginx.tls.self.tls_dir }}/certs/{{ minion_id }}.key;
{%- endif %}

if ($scheme != "https") {
    return 301 https://$host$request_uri;
}
